<p>
  Boulder (and surrounding area) reminds me of a scene from the movie <i>Big Fish</i> where the main character wanders into a village full of perfectly happy people living rather flawless lives. People DON'T EVEN LOCK THEIR BIKES in Estes Park. As the victim of 3 bike thefts in SF.. this place seems fan-fucking-tastic. The town of boulder is:
  <ul>
    <li>45 min from world class rock climbing in a variety of styles</li>
    <li>Incredibly friendly to vegetarians</li>
    <li>Full of smart, young, ambitious peopls</li>
    <li>PACKED with climbers</li>
  </ul>
<p>
  And is <a href="https://en.wikipedia.org/wiki/Boulder,_Colorado#Demographics">almost 90% white.</a> It's this last point that I just can't seem to get over.
</p>
