<p>
  High sierra is a near spiritual experience. I can't explain why, but something about seeing all of the following in one place:
</p>

<ul>
  <li>Young kids pelting you with water baloons in 90 degree heat</li>
  <li>World class musicianship in a variety of styles: blues, folk, bluegrass, jam +</li>
  <li>A man named <i>Fart Box</i> peddling a backpack full of psychedelics</li>
  <li>Beautiful Sierra Mountains scenery</li>
  <li>Grandfather-grandaughter pairs in matching sequin dresses (and killing it on the dance floor)</li>
</ul>

<p>
  ...makes me really think hard about the social "rules" of the world.
</p>
