<p>
  Moab was the first place I travelled to truly alone. No friends to meet up with or pre-established connections. I was pretty nervous about making friends and meeting climbing partners.
</p>

<h4>Day 1</h4>

<p>
  I parked at the most pupular crag; there are 6 cars in the parking lot (but only 2 people). I took a deep breath - "You can do this. Go make some goddam friends and ask if you can climb with them." I got out of the car and waved hello to a party of 2 gearing up. This guy in his 60s looks over and with an incredible amount of enthusiasm says "Hey man!! Are you travelling solo? Want to climb with us!?". Damn. That was easy.
</p>

<h4>Day 2</h4>

<p>
  Same parking lot. Different tactic :)
</p>

<p>
  I left Moab with a huge confidence boost. I reflect on those experiences whenever I need to remember that (1) the climbing community kicks ass or (2) travelling solo demands high risk but promises high rewards :)
</p>
