<p>
  Home Base. Where everything started. I used to work on van projects parked on a public street outside my friend's appartment / sushi restaurant in Bernal Heights neighborhood. Many of the people I care most about live in SF. I anticipate making stops through here a regular occurance :)
</p>
