<p>
  I found it. I doubt I'll ever experience a more perfect place than Yosemite Valley. A regular <i>work day</i> consisted of getting up around 6, running some laps on fixed lines - making breakfast beneath torrents of countless waterfalls - working from my laptop at meadow picnic tables or in the van - and lunch runs touring the monolithic granite features iconic of the valley. Arguably my favorite part of being a climber in yosemite.. I found a consistent stream of strong, ambitious, beautiful souls all eager to find partners in the mecca of the climbing world. I have never made such good friends so easily.
</p>
