<div id="places-tabs">
  <%= link_to "San Francisco", static_path("places", slug: "san_francisco") %>
  <%= link_to "Yosemite", static_path("places", slug: "yosemite") %>
  <%= link_to "Moab", static_path("places", slug: "moab") %>
</div>
