<div>
  <%= form_tag(arrange_photos_path(slug: params[:slug]), id: "arrange-photos-form", method: :patch) do %>
    <ul class="sortable">
      <% @tags.each do |tag| %>
        <li>
          <%= image_tag(tag.photo.thumbnail_path) %>
          <%= hidden_field_tag("tag_ids[]", tag.id) %>
        </li>
      <% end %>
    </ul>
    <%= submit_tag("Save Order!") %>
  <% end %>
</div>
