<div>


  <div class="grid">
    <% @photos.each do |photo| %>
      <%= link_to(photo.thumbnail_path, data: { lightbox: SecureRandom.hex }) do %>
        <%= image_tag(photo.img_path, class: "grid-item", data: { lightbox: "unique" }) %>
      <% end %>
    <% end %>
    <% @photo_groups.each do |photo_group| %>
      <% namespace = SecureRandom.hex %>
      <% photo_group.photos.each_with_index do |photo, index| %>
        <%= link_to(photo.thumbnail_path, data: { lightbox: namespace }, class: (index == 0 ? "" : "hidden")) do %>
          <%= image_tag(photo.img_path, class: "grid-item", data: { lightbox: "unique" }) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
