#admin_navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Photos
#arrange-photos-form{
  ul {
    padding: 0;
    li {
      list-style: none;
      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
        cursor: move;
        margin-bottom: 15px;
      }
    }
  }
}

// forms
.form-label {
  display: inline-block;
  width: 100px;
}

.form-field {
  width: 700px;
}
