#admin_navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Photos
.sortable img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

// forms
.form-label {
  display: inline-block;
  width: 100px;
}

.form-field {
  width: 700px;
}
