body {
  background-color: $background;
}

.hidden {
  display: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

.cute {
  font-family: 'Indie Flower', cursive;
}
