main {
  padding: 15px;

  h2 {
    margin-top: 8px;
    text-align: center;
  }

  p {
    padding-bottom: 10px;
    margin: 0 40px 20px 40px;
    border-bottom: 1px solid black;
  }
}

header {
  text-align: center;
}

nav {
  padding: 15px;
}

// Large Screen
@media (min-width: $screen-lg-min) {
}

// Small Screen

@media (max-width: $screen-lg-min) {
  nav {
    width: 100%;
    flex-direction: row;
  }

  header {
    display: none;
  }
}
