#map-container-container {
  position: relative;
  z-index: 2;
}

#map-place-header {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: #555555;
  font-size: 600%;
}

// Large Screen
@media (min-width: $screen-md-max) {
  #map-container{
    height: 70vh;
  }
}

// Small Screen
@media (max-width: $screen-md-max) {
  #map-container{
    height: 50vh;
  }
}
