nav {
  display: flex;
  overflow: auto;
  padding: 15px;

  a {
    font-size: 32px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    img {
      width: 32px;
      height: 32px;
    }
    img.nav-icon-hover {
      display: none;
    }
    &:hover {
      text-decoration: none;
      font-weight: bolder;
      .nav-icon {
        display: none;
      }
      .nav-icon-hover {
        display: block;
      }
    }
  }
}

#map-link:hover {
  color: $red;
  border-color: $red;
}
#van-link:hover {
  color: $blue;
  border-color: $blue;
}
#climbing-link:hover {
  color: $green;
  border-color: $green;
}
#blog-link:hover {
  color: $orange;
  border-color: $orange;
}

.nav-link-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Large Screen
@media (min-width: $screen-lg-min) {
  nav a {
    margin-bottom: 20px;
  }
}

// Small Screen
@media (max-width: $screen-lg-min) {
  nav a {
    margin-right: 10px;
    flex: 1;
    text-align: center;
  }
}
