nav {
  display: flex;
  overflow: auto;
  padding: 15px;

  a {
    font-size: 32px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    &:hover {
      text-decoration: none;
      font-weight: bolder;
    }
    .icon-container{
      width: 32px;
      height: 32px;
    }
  }
}

#map-link {
  .icon-container{
    content: image-url("map")
  }
  &:hover {
    color: $red;
    border-color: $red;
    .icon-container {
      content: image-url("map_hover");
    }
  }
}
#van-link {
  .icon-container{
    content: image-url("van");
  }
  &:hover {
    color: $blue;
    border-color: $blue;
    .icon-container {
      content: image-url("van_hover");
    }
  }
}
#climbing-link {
  .icon-container{
    content: image-url("climbing");
  }
  &:hover {
    color: $green;
    border-color: $green;
    .icon-container {
      content: image-url("climbing_hover");
    }
  }
}
#blog-link {
  .icon-container{
    content: image-url("blog");
  }
  &:hover {
    color: $orange;
    border-color: $orange;
    .icon-container {
      content: image-url("blog_hover");
    }
  }
}

.nav-link-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Large Screen
@media (min-width: $screen-lg-min) {
  nav a {
    margin-bottom: 20px;
  }
}

// Small Screen
@media (max-width: $screen-lg-min) {
  nav a {
    margin-right: 10px;
    flex: 1;
    text-align: center;
  }
}
