// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
  margin: 0 auto;
}

.grid-item {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #BBB;
  margin-bottom: 20px;
  width: 380px;
}

#img-preview{
  height: 300px;
  width: 300px;
  outline: solid 1px grey;
}
