.grid {
  margin: 0 auto;
}

.grid-item {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #BBB;
  margin-bottom: 50px;
  width: 380px;

  &:hover {
    margin: -3px 0 0 -3px;
    box-shadow: 3px 3px 3px #AAA;
    transition: all 100ms;
    transition-property: margin, box-shadow;
  }
}

#img-preview{
  height: 300px;
  width: 300px;
  outline: solid 1px grey;
}
