<div class="nav-link-container"><%= link_to "Map", static_path(:map) %></div>
<div class="nav-link-container"><%= link_to "Places", static_path(:places) %></div>
<div class="nav-link-container"><%= link_to "Van", static_path(:van) %></div>
<div class="nav-link-container"><%= link_to "Climbing", static_path(:climbing) %></div>
