<%= link_to root_path, id: "map-link", class: "nav-link-item" do %>
  <div>
    <span>Map</span>
    <div class="icon-container"></div>
  </div>
<% end %>
<%= link_to photos_by_tag_path(:van), id: "van-link", class: "nav-link-item" do %>
  <div>
    <span>Van</span>
    <div class="icon-container"></div>
  </div>
<% end %>
<%= link_to photos_by_tag_path(:climbing), id: "climbing-link", class: "nav-link-item" do %>
  <div>
    <span>Climbing</span>
    <div class="icon-container"></div>
  </div>
<% end %>
<%= link_to posts_path, id: "blog-link", class: "nav-link-item" do %>
  <div>
    <span>Blog</span>
    <div class="icon-container"></div>
  </div>
<% end %>
